aniso8601==9.0.1
annotated-types==0.6.0
anyio==4.3.0
attrs==23.1.0
Automat==22.10.0
aws-error-utils==2.7.0
aws-sam-translator==1.79.0
aws-sso-lib==1.14.0
aws-sso-util==4.32.0
blinker==1.7.0
boto3==1.28.47
botocore==1.31.47
certifi==2023.7.22
cffi==1.16.0
cfn-lint==0.83.2
charset-normalizer==3.2.0
click==8.1.7
command-not-found==0.3
constantly==23.10.4
contourpy==1.2.1
cryptography==42.0.5
cssselect==1.2.0
cycler==0.12.1
dbus-python==1.2.18
distro==1.7.0
distro-info==1.1+ubuntu0.2
dnspython==2.6.1
email_validator==2.1.1
exceptiongroup==1.2.0
fastapi==0.110.1
filelock==3.13.1
Flask==3.0.2
Flask-SQLAlchemy==3.1.1
flask-swagger-ui==4.11.1
fonttools==4.51.0
greenlet==3.0.3
h11==0.14.0
httpcore==1.0.5
httplib2==0.20.2
httptools==0.6.1
httpx==0.27.0
hyperlink==21.0.0
idna==3.4
importlib-metadata==4.6.4
importlib_resources==6.4.0
incremental==22.10.0
itemadapter==0.8.0
itemloaders==1.1.0
itsdangerous==2.1.2
jeepney==0.7.1
Jinja2==3.1.3
jmespath==1.0.1
joblib==1.4.0
jschema-to-python==1.2.3
jsonpatch==1.33
jsonpickle==3.0.2
jsonpointer==2.4
jsonschema==3.2.0
junit-xml==1.9
keyring==23.5.0
kiwisolver==1.4.5
launchpadlib==1.10.16
lazr.restfulclient==0.14.4
lazr.uri==1.0.6
lxml==5.1.0
MarkupSafe==2.1.5
marshmallow==3.21.1
matplotlib==3.8.4
more-itertools==8.10.0
mpmath==1.3.0
netifaces==0.11.0
networkx==3.2.1
numpy==1.26.4
oauthlib==3.2.0
orjson==3.10.0
packaging==23.2
pandas==2.2.1
parsel==1.8.1
pbr==6.0.0
pillow==10.3.0
Protego==0.3.0
psycopg2-binary==2.9.1
pyasn1==0.5.1
pyasn1-modules==0.3.0
pycparser==2.21
pydantic==2.5.0
pydantic-extra-types==2.2.0
pydantic-settings==2.2.1
pydantic_core==2.14.1
PyDispatcher==2.0.7
PyGObject==3.42.1
PyJWT==2.3.0
pyOpenSSL==24.0.0
pyparsing==2.4.7
pyrsistent==0.19.3
python-apt==2.4.0+ubuntu3
python-dateutil==2.8.2
python-dotenv==1.0.1
python-multipart==0.0.9
pytz==2024.1
PyYAML==6.0.1
queuelib==1.6.2
regex==2023.8.8
requests==2.31.0
requests-file==2.0.0
s3transfer==0.6.2
sarif-om==1.0.4
scikit-learn==1.4.2
scipy==1.13.0
Scrapy==2.11.1
seaborn==0.13.2
SecretStorage==3.3.1
service-identity==24.1.0
six==1.16.0
sniffio==1.3.1
SQLAlchemy==2.0.28
starlette==0.37.2
sympy==1.12
systemd-python==234
threadpoolctl==3.4.0
tldextract==5.1.1
Twisted==24.3.0
typing_extensions==4.8.0
tzdata==2024.1
ubuntu-pro-client==8001
ufw==0.36.1
ujson==5.9.0
unattended-upgrades==0.1
urllib3==1.26.16
uvicorn==0.29.0
uvloop==0.19.0
w3lib==2.1.2
wadllib==1.3.6
watchfiles==0.21.0
websockets==12.0
Werkzeug==3.0.1
zipp==1.0.0
zope.interface==6.2
